<%= image_tag "headerpic.png" %>


  <div class= "jumbotron">
    <h2>To change lives through the power of writing</h2>
  </div>

  <div>
    <h2>Writing Workshops for Everyone</h2>
    <p>
      We bring our free 10-week creative writing workshops to hospitals, schools, prisons, shelters, senior centers, low income housing, treatment facilities, health care and social service settings. We publish anthologies and hold readings to connect readers and writers.
    </p>
    <p>
      We offer Prompt at Powell's City of Books and writing workshops at HOTLIPS Pizza for writers who want to participate in our workshops and support the communities we traditionally serve.
    </p>
</div>
