<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "slide1.png" %>
        <div class="carousel-caption">

        </div>
      </div>
      <div class="item">
        <%= image_tag "slide2.png" %>
        <div class="carousel-caption">

        </div>
      </div>
      <div class="item">
        <%= image_tag "slide3.png" %>
        <div class="carousel-caption">

        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>


  <div class= "jumbotron">
    <h2>To change lives through the power of writing</h2>
  </div>

  <div>
    <h2>Writing Workshops for Everyone</h2>
    <p>
      We bring our free 10-week creative writing workshops to hospitals, schools, prisons, shelters, senior centers, low income housing, treatment facilities, health care and social service settings. We publish anthologies and hold readings to connect readers and writers.
    </p>
    <p>
      We offer Prompt at Powell's City of Books and writing workshops at HOTLIPS Pizza for writers who want to participate in our workshops and support the communities we traditionally serve.
    </p>
</div>
